:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --logo-black-color: #000000;
}

body {
  font-family: 'Roboto', sans-serif;

  color: var(--primery-text-color);
  background-color: var(--white-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-logo,
.header-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-studio {
  color: var(--logo-black-color);
}

.header-logo:hover,
.header-logo:focus {
  color: var(--logo-black-color);
}

.header-studio:hover {
  color: var(--accent-text-color);
}

.header-list .header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.header-list .header-link:hover,
.header-list .header-link:focus {
  color: var(--accent-text-color);
}

.header-list .header-link.current {
  color: var(--accent-text-color);
}
.header-contact .contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primery-text-color);
}

.header-contact .contact-link:hover,
.header-contact .contact-link:focus {
  color: var(--accent-text-color);
}

/* Hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

/* Hero---Button */
.hero-button {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  color: var(--white-color);
  background-color: var(--accent-text-color);

  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--white-color);
  background-color: #188ce8;
}

/* Особенности - Features */

.features-hedline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;0

  color: var(--title-text-color);
}

.festures-text {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся - Work */
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

/* Наша команда -Team */
.section-team {
  background-color: var(--secondary-bg-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.team-item {
  background-color: var(--white-color);
}
.team-hedline {
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team-text {
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--primery-text-color);
}

/* Footer */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-text-color);
}

.footer-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--white-color);
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--white-color);
}
.footer-studio:hover {
  color: var(--accent-text-color);
}

.footer-address,
.address-location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71px;
  text-decoration: none;
  letter-spacing: 0.03em;

  color: var(--white-color);
}

.address-location:hover,
.address-location:focus {
  color: var(--accent-text-color);
}
.address-list .address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-text-color);
}

/* Portfolio  */
.button {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
}
.button.primary {
  color: var(--white-color);
  background-color: var(--accent-text-color);
}

.button:hover,
.button:focus {
 
  color: var(--white-color);
  background-color: var(--accent-text-color);
}

.portfolio-headline {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.potrfolio-text {
  font-size: 16px;
  line-height: 1.87;

  color: var(--primery-text-color);
}
